<div class="form-wrapper">
  <div class="header">
    <h1>Your blog</h1>
    <%= link_to 'Go back to all blogs', articles_path %>
  </div>
  <div class="edit-button">
    <%= link_to 'Edit', edit_article_path(@article) %>
  </div>
  <div class="body-wrapper-show">
<h2>Title</h2>
<p>
  <%= @article.title %>
</p>
<h2>Text</h2>
<p>
  <%= @article.text %>
</p>
</div>
</div>
