.header-welcome
  background-color: $mint
  height: 310px
  position: absolute
  top: 0
  right: 0
  left: 0

  h1
    font-size: 3em
    text-align: center
    margin-top: 100px
    color: $light-grey
    text-transform: uppercase

.fa-github
  color: $light-grey
  font-size: 3em

.home-button
  text-align: center
  margin-top: 150px

  a
    background-color: white
    padding: 15px
    text-align: center
    border-radius: 3px
    color: $light-grey
    text-decoration: none

.header-image
  background-image: image-url("peeps.jpg")
  height: 870px
  margin-top: 175px
